$WIDTH: 1135px;
$HEIGHT: 737px;
$NEGATIVE_OFFSET: 200;


.cloud-small, #ray-source {
  visibility: hidden;
}

.position-absolute {
  position: absolute;
}

.overflow-visible {
  overflow: visible !important;
}

.svg-container {
  max-width: $WIDTH;
  max-height: $HEIGHT;
}

@for $i from 100 through 110 {
  .z-index-#{$i} {
    z-index: $i;
  }
}
